.category{
    height: .6rem;
    background: #fff;
    /* border-radius: 6px; */
    margin:0 0 .12rem 0;
    padding-left: .17rem;
    font-size: .18rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

}

.category:first-child{
    margin-top: .12rem
}
.category:last-child{
    color: #8a8a8a;
    font-weight: 300;
    font-size: .16rem;
}

.arrow{
    width:.35rem;
    height: .35rem;
    float: right;
    margin-left: auto;
}

.arrow::before,.arrow::after{
    clear: both;
    content: ''
}