page{
    height: 100%;
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .16rem;
    background: #fff;
    height: 100%
}


.about{
    margin: .17rem;
    padding: .12rem;
    text-align: center
}


.about image{
    width: 80px;
    height: 80px;
    margin: 10px auto;
    display: block
}

.name{
    font-size: 12px;
}

.version{
    font-size: 14px;
    color: #5d5c5c;
}
.description{
    font-size: 12px;
    padding-top: 10px;
    color: red
}
.company{
    font-size: 12px;
    padding: 10px;
    color: black;
}
